@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Osijek, 31000<br />
    Osječko-baranjska županija<br />
    Slavonija, Hrvatska
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:jureperic@gmail.com">jureperic@gmail.com</a>
</address>