@{
    ViewBag.Title = "Vozila";
}

<div class="jumbotron">
    <h1>Rimac</h1>
    <p class="lead">ASP.NET je besplatan web framework preko kojeg smo napravili ovu stranicu. 
    <br/>Na slici je vrlo popularan model koje željno iščekuje na tržištu.</p>
    <p><a href="https://www.rimac-automobili.com/en/" class="btn btn-primary btn-lg">Saznajte više &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Marke vozila</h2>
        <p>Pregledajte našu listu poznatih brendova vozila. 
        Možete dodavati nove uređivati postojeće ili čak brisati one koje više nisu u proizvodnji.</p>
        <p><a class="btn btn-default" href="~/Marka/List">Saznajte više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modeli vozila</h2>
        <p>Pregledajte našu listu poznatih modela vozila svakog proizvođača. 
        Vjerujemo da ćete među njima pronaći neke vrlo zanimljive modele.</p>
        <p><a class="btn btn-default" href="~/Model/List">Saznajte više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vozila</h2>
        <p>Upotpunjen popis vozila na vaš zahtjev.</p>
        <p><a class="btn btn-default" href="">Saznajte više &raquo;</a></p>
    </div>
</div>